body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/90s-theme.jpg');
    background-size: 225px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#trivia-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 60vw;
    margin-top: 8vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

legend {
    border: solid #b98fc8 2px;
    border-radius: 5px;
    padding: 5px;
}

fieldset {
    border: solid #b98fc8 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; 
}

#score-display {
    align-self: center;
    font-size: 1.4em;
}

#submit-button {
    margin-top: 20px;
    margin-left: 10px;
    cursor: url('../assets/party-cursor.png'), auto;
    font-size: 1.1em;
    border-radius: 5px;
}

input {
    width: 40%;
    font-size: 1.0em;
}

#result-section{
    align-self: center;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
}

#question-display {
    font-size: 1.25em;
}

#value {
    font-size: 1.4em;
    text-decoration: underline;
}

#category {
    text-decoration: underline;
    text-transform: capitalize;
}

#category-p {
    font-size: 1.1em;
    text-decoration: underline;
    padding-bottom: 15px;
}
.fade {
    -webkit-animation: fadeinout 8s normal;
    animation: fadeinout 8s normal;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

.hidden{
    visibility: hidden;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

p {
    padding: 10px;
}

#submit-butt{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    margin-top: 15px;
}

#submit-button {
    align-self: center;
}