body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/90s-theme.jpg');
    background-size: 225px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#trivia-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 70vh;
    margin-top: 8vh;
}

#score-display {
    align-self: center;
}

#submit-button {
    margin-top: 20px;
    margin-left: 10px;
}

input {
    width: 40%;
    font-size: 1.1em;
}

#result-section{
    align-self: center;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
}
.fade {
    -webkit-animation: fadeinout 10s normal;
    animation: fadeinout 10s normal;
}

.question-fade {
    -webkit-animation: fadeIn 10s normal;
    animation: fadeIn 10s normal;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

.hidden{
    visibility: hidden;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}